<div class="container">
    <div class="md:col-5 lg:col-5 mx-auto pt-8 row justify-content-center">
        <p-card subheader="Seguradoras" styleClass="box-login mt-3">
            <ng-template pTemplate="header">
                <img alt="logo-pericia" src="assets/images/logo_login.png" class="logo-pericia">
            </ng-template>

            <form [formGroup]="loginForm">
                <div class="row">
                    <div class="field col-xs-12 col-lg-12 ">
                        <div class="form-floating ">
                            <input type="text" class="form-control" id="inputtext" formControlName="email"
                                placeholder="Email">
                            <label for="floatingInput inputtext"> Email</label>
                        </div>
                    </div>

                    <div class="field col-xs-12 col-lg-12 ">
                        <div class="form-floating ">
                            <input type="password" class="form-control" id="password" formControlName="password"
                                placeholder="Cadastrar Senha">
                            <label for="floatingInput inputtext"> Cadastrar Senha</label>
                            <span class="icon-password" (click)="showHidePassword()">
                                <i [ngClass]="showpassword ? 'pi pi-eye' : 'pi pi-eye-slash' "
                                    class="pi pi-eye-slash"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field col-xs-12 col-lg-12 mb-2">
                        <div class="form-floating ">
                            <input type="password" class="form-control" id="passwordConfirm" formControlName="email"
                                placeholder="Confirmar Senha">
                            <label for="floatingInput inputtext"> Confirmar Senha</label>
                            <span class="icon-passwordConfirm" (click)="showHidePassword2()">
                                <i [ngClass]="showpasswordConfirm ? 'pi pi-eye' : 'pi pi-eye-slash' "
                                    class="pi pi-eye-slash"></i>
                            </span>
                        </div>
                    </div>

                </div>
            </form>

            <button pButton pRipple type="button" label="Login" class="p-button-danger p-button-login"
                routerLink="/login"></button>


            <p>Esqueceu sua senha?</p>
        </p-card>
    </div>
</div>