:host ::ng-deep .box-login {
    width: 100%;
    box-shadow: none;
}

.logo-pericia {
    width: 20rem;
}

:host ::ng-deep .p-card .p-card-subtitle {
    font: normal normal bold 16px/27px Poppins;
    color: #38515F;
    text-align: center;
}

:host ::ng-deep .p-card .p-card-content {
    padding-bottom: 0;
}


:host ::ng-deep .p-button-danger,
.p-button-login {
    width: 100%;
    background: #ED1C27;
    border-radius: 3px;

}

.icon-password {
    position: absolute;
    left: 90%;
    top: 36.3%;
}

.icon-passwordConfirm {
    position: absolute;
    left: 90%;
    top: 36.5%;
}

:host ::ng-deep .pi-eye-slash {
    font-size: 1.3rem;
    cursor: pointer;
}

:host ::ng-deep .p-button-label {
    font: normal normal normal 15px/25px Lato;
    text-transform: uppercase;
}

.form-floating>.form-control {
    background: #F6F7F7;
}


p {
    font: normal normal bold 15px/45px Lato;
    text-align: center;
    color: #ED1C27;
}