.box {
    padding-top: 1rem;
}

:host ::ng-deep .box-login {
    width: 100%;
    box-shadow: none;
    border: none;
}

:host ::ng-deep .p-card-header {
    text-align: center;
}

.logo-pericia {
    width: 18rem;
}

:host ::ng-deep .p-card .p-card-subtitle {
    font: normal normal bold 16px/27px Poppins;
    color: #38515F;
    text-align: center;
}

:host ::ng-deep .p-card .p-card-content {
    padding-bottom: 0;
}

.btn-acess {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
}

:host ::ng-deep .p-button-acess,
.p-button-login {
    width: 100%;
    border-radius: 10px;
}

:host ::ng-deep .p-button-label {
    font: normal normal normal 17px/20px Lato;
}

.form-floating>.form-control {
    background: #F6F7F7;
}

.icon-password {
    position: absolute;
    left: 90%;
    top: 25%;
}

:host ::ng-deep .pi-eye-slash {
    font-size: 1.5rem;
    cursor: pointer;
}

p {
    font: normal normal bold 18px/45px Lato;
    text-align: center;
    color: #ED1C27;
}


/* Responsive */
@media(max-width: 600px) {
    .box {
        padding-top: 4rem;
    }

    .btn-acess {
        display: block;
    }

    :host ::ng-deep .p-button-acess {
        margin-bottom: 1rem;
    }

    .logo-pericia {
        width: 12rem;
    }
}