:host ::ng-deep .p-panel .p-panel-header {
    gap: 27rem;
    padding: 0.3rem 1.3rem;
}

:host ::ng-deep .p-button-selecione {
    height: 42px;
    width: 9rem;
    font: normal normal bold 15px/39px Segoe UI;
}

:host ::ng-deep .p-button-selecione-concluido {
    height: 42px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


:host ::ng-deep .p-button-selecione.active {
    background-color: #2196F3;
    color: #fff;
    width: 9rem;
}

:host ::ng-deep .p-button-selecione:enabled:hover {
    background-color: #fff;
    color: #707070;
    width: 9rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #DADEE3;
}

:host ::ng-deep .p-button-selecione .p-button-label {
    font: normal normal bold 15px/39px Segoe UI;
}

:host ::ng-deep .p-panel .p-panel-icons-end {
    margin-left: 0;
}

:host ::ng-deep .p-button-avaliar {
    width: 8rem;
    height: 3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
}

:host ::ng-deep .p-button-concluido {
    width: 8rem;
    height: 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;

}

:host ::ng-deep .p-input-icon-left>.p-inputtext {
    width: 26rem;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    border-color: #D6D8DB;
}

.campo-pesquisa {
    display: flex;
}

:host ::ng-deep .p-button-export {
    width: 100%;
    height: 2.5rem;
}

:host ::ng-deep .p-button-export .p-button-label {
    font: normal normal normal 14px/20px Lato;
}

:host ::ng-deep .p-button-show {
    height: 2.6rem;
    width: 100%;
    background: #0088CD;
}

:host ::ng-deep .p-button-show .p-button-label {
    font: normal normal bold 15px/39px Segoe UI;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td.statusFinished {
    color: #409922;
}


/* Responsive */
@media(max-width: 600px) {
    :host ::ng-deep .p-panel .p-panel-header {
        display: block;
        height: 100%;
        gap: 0;
        padding: 5px;
    }

    :host ::ng-deep .p-panel .p-panel-icons-end {
        display: flex;
    }

    :host ::ng-deep .p-button-selecione {
        width: 100%;
    }

    :host ::ng-deep .p-button-selecione .p-button-label {
        font: normal normal bold 13px/15px Segoe UI;
    }

    :host ::ng-deep .p-button-selecione.active {
        width: 100%;
    }

    .campo-pesquisa {
        display: block;
    }

    :host ::ng-deep .p-input-icon-left>.p-inputtext {
        width: 100%;
    }

    :host ::ng-deep .p-button-export {
        margin-top: 0.5rem;
    }
}