<p-card>
    <p-panel header="Laudos">
        <ng-template pTemplate="icons">
            <button pButton pRipple type="button" label="Avaliar" name="optTipoTabela" value="0"
                [class.active]="selectedLaudo==='avaliar'" (click)="typeLaudo('avaliar')"
                class="p-button-outlined p-button-selecione"></button>


            <button pButton pRipple type="button" label="Concluídos" name="optTipoTabela" value="1"
                [class.active]="selectedLaudo==='concluidos'" (click)="typeLaudo('concluidos')"
                class="p-button-outlined p-button-selecione"></button>

        </ng-template>

    </p-panel>

    <div class="campo-pesquisa mt-4 mb-3">
        <div class="md:col-10">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Pesquisar por nome, CPF ou placa do veículo"
                    [(ngModel)]="value3" />
            </span>
        </div>

        <div class="md:col-2">
            <button pButton pRipple type="button" label="Exportar Relatório" icon="pi pi-download"
                class="p-button-export"></button>

        </div>
    </div>


    <div *ngIf="selectedLaudo == 'avaliar'">
        <p-table [value]="listaLaudos" [paginator]="true" [rows]="10" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of colunas">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-listaLaudos>
                <tr>
                    <td>{{listaLaudos.date}}</td>
                    <td>{{listaLaudos.protocolNumber}}</td>
                    <td>{{listaLaudos.driverName}}</td>
                    <td>{{listaLaudos.board}}</td>
                    <td>{{listaLaudos.category}}</td>
                    <td>{{listaLaudos.deliveryDate}}</td>
                    <td>{{listaLaudos.answerDate}}</td>
                    <td>
                        <button pButton pRipple type="button" label="Ver" class="p-button-show"
                            routerLink="./detalhe-laudo"></button>

                    </td>

                </tr>
            </ng-template>
        </p-table>
    </div>

    <!--Tabela de Concluídos -->
    <div *ngIf="selectedLaudo == 'concluidos'">
        <p-table [value]="laudosConcluidos" [paginator]="true" [rows]="10" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of colunas2">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-laudosConcluidos>
                <tr>
                    <td>{{laudosConcluidos.date}}</td>
                    <td>{{laudosConcluidos.protocolNumber}}</td>
                    <td>{{laudosConcluidos.driverName}}</td>
                    <td>{{laudosConcluidos.board}}</td>
                    <td>{{laudosConcluidos.category}}</td>
                    <td>{{laudosConcluidos.deliveryDate}}</td>
                    <td>{{laudosConcluidos.answerDate}}</td>
                    <td class="statusFinished">{{laudosConcluidos.status}}</td>

                    <td>
                        <button pButton pRipple type="button" label="Ver" class="p-button-show"
                            routerLink="./laudo-rejeitado"></button>

                    </td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</p-card>